<section id="education" class="education">
  <div class="container" data-aos="fade-up">
    <div class="container row justify-content-center">
      <div class="col-lg-6">
        <div class="container section-title text-center my-4">
          <h2>Education</h2>
        </div>

        <div class="education-content py-2">
          <div class="education-item">
            <h5>
              Bachelor of Science in Information Technology with Areas of
              Specialization in Web Development
            </h5>
            <h6>2020 - Present (3rd year)</h6>
            <p><em>Holy Angel University</em></p>
            <ul>
              <li>President's Lister 1st Semester (2022-2023)</li>
              <li>
                Cisco Networking Academy - Introduction to Packet Tracer
                Certificate
              </li>
              <li>President's Lister 1st & 2nd Semester (2021-2022)</li>
              <li>Dean's Lister 2nd Semester (2020-2021)</li>
              <li>
                Cisco Networking Academy - Introduction to Cybersecurity
                Certificate
              </li>
              <li>President's Lister 1st Semester (2020-2021)</li>
            </ul>
          </div>
  
          <div class="education-item">
            <h5>
              Senior High School Graduate<br />(Science, Technology, Engineering
              and Mathematics)
            </h5>
            <h6>2018-2020</h6>
            <p><em>Holy Angel University</em></p>
          </div>
  
          <div class="education-item">
            <h5>Junior High School Completer</h5>
            <h6>2014 - 2018</h6>
            <p><em>Don Antoñio Lee Chi Uan Integrated School</em></p>
            <ul>
              <li>With Honors (2017-2018)</li>
              <li>Journalist of the Year (2017-2018)</li>
              <li>1st Place Photojournalism CSPC (2017-2018)</li>
              <li>6th Place Photojournalism CSPC (2016-2017)</li>
              <li>With Honors (2016-2017)</li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
