.education {
  background-color: #f0f6ec;
}

.section-title h2 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #1fc667;
  bottom: 0;
  left: calc(50% - 25px);
}


.education .education-content{
  margin-top: 30px;
}

.education .education-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgb(220, 220, 220);
  position: relative;
}

.education .education-item h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #168144;
  margin-bottom: 10px;
}

.education .education-item h6 {
  font-size: 14px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #418062;
}

.education .education-item ul {
  padding-left: 20px;
}

.education .education-item ul li {
  padding-bottom: 3px;
}

.education .education-item:last-child {
  padding-bottom: 0;
}

.education .education-item::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #2c9463;
}

