<div class="about" id="about">
  <div class="container">
    <div class="px-4 py-5 my-5">
      <img
        class="d-block mx-auto mb-4"
        src="https://cdn.jsdelivr.net/gh/RockyBndc/angular-cv-2135-rapb@cef6cbaffacbc2c2be00fa87142b6bd5c5b8fa1f/src/app/assets/profilePic.png"
        alt=""
        width="100"
        height="100"
      />
      <div class="aboutMe mx-auto border p-4">
        <br /><br />
        <div class="text-center">
          <div class="container section-title text-center">
            <h2>About Me</h2>
          </div>

          <p class="desc container-fluid mb-4 my-4 px-5">
            Hi! I'm Raquel Bondoc, an optimistic and passionate person who is
            interested in designing and building a responsive website. I am
            currently in my 3rd year taking Bachelor of Science in Information
            Technology with Areas of Specialization in Web Development at Holy
            Angel University. I have a genuine ambition to experience new things
            and learn new skills. For this reason, I am looking for a job or an
            internship as Front-end Web Developer that will help me widen and
            improve my knowledge in this field. In exchange, I will offer my
            full commitment and be an affable individual to your company.
          </p>
        </div>

        <div class="AddInfo py-2">
          <div class="row">
            <div class="col-sm-3 mx-auto">
              <p>Full Name: Raquel Ann Perez Bondoc</p>
              <p>Age: 21 years old</p>
              <p>Date of Birth: August 18, 2001</p>
              <p>Civil Status: Single</p>
              <p>Citizenship: Filipino</p>
            </div>
            <div class="col-sm-3 mx-auto">
              <p>Address: Bacolor, Pampanga</p>
              <p>Phone: 09913141443</p>
              <p>E-mail: quelbondoc09@gmail.com</p>
              <p>Language: English and Tagalog</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
