<div class="contact" id="contact">
  <div class="container-fluid">
    <div class="contact__wrapper">
      <div class="row">
        <div
          class="
            col-lg-5
            contact-info__wrapper
            gradient-brand-color
            p-5
            order-lg-2
          "
        >
          <h3 class="color--white mb-5 mx-5">
            Looking forward to working with everyone!
          </h3>

          <ul
            class="contact-info__list list-style--none position-relative mx-5"
          >
            <li class="mb-4 pl-4">
              <span class="position-absolute"
                ><i class="bi bi-envelope"></i
              ></span>
              quelbondoc09@gmail.com
            </li>
            <li class="mb-4 pl-4">
              <span class="position-absolute"
                ><i class="bi bi-telephone"></i
              ></span>
              09913141443
            </li>
            <li class="mb-4 pl-4">
              <span class="position-absolute"
                ><i class="bi bi-geo-alt"></i
              ></span>
              Bacolor, Pampanga

              <div class="social mt-3">
                <ul class="navbar-nav d-flex flex-row">
                  <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link mx-3" href="#!">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </li>
                  <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                      <i class="bi bi-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-lg-7 p-5 order-lg-1 border">
          <div class="section-title mx-5">
            <h2>Contact Me</h2>
          </div>
          <form action="#" class="contact-form mx-5">
            <div class="row">
              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label class="required-field" for="firstName">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label class="required-field" for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                  />
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label for="phone">Telephone No.</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    name="phone"
                  />
                </div>
              </div>

              <div class="col-sm-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="message">Message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    name="message"
                    rows="4"
                  ></textarea>
                </div>
              </div>

              <div class="col-sm-12 mb-3">
                <button
                  type="submit"
                  name="submit"
                  class="btn btn-success btn-lg px-4 me-md-2 rounded-pill"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
