<div class="home" id="home">
  <!--NAVBAR-->
  <div class="header">
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        fixed-top
        mask-custom
        shadow-0
      "
    >
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto">
            <li class="nav-item mx-2">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#reference">Reference</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row mx-2">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-google"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--HERO SECTION-->
    <div class="hero">
      <div class="container col-xxl-8 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-3 py-0">
          <div class="col-10 col-sm-8 col-lg-6 mx-auto d-block">
            <img
              src="https://cdn.jsdelivr.net/gh/RockyBndc/angular-cv-2135-rapb@dacd78382d025b8523f207a651da155521009f84/src/app/assets/headerpic.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Headerpic"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h3 class="mx-5">Hi everyone, I'm</h3>
            <h1 class="display-5 fw-bold lh-1 mb-3 mx-5">Raquel Bondoc</h1>
            <h4 class="intro mx-5">Front-end Web Developer</h4>
            <div class="d-grid gap-2 d-md-flex justify-content-md-starst mx-5">
              
              <a href="#skills"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 rounded-pill">See my Skills</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ABOUT-->
  <app-about></app-about>

  <!--SKILLS-->
  <app-skills></app-skills>

  <!--EDUCATION-->
  <app-education></app-education>

  <!--REFERENCE-->
  <app-reference></app-reference>

  <!--CONTACT-->
  <app-contact></app-contact>
</div>
